
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#header {
    background-color: rgb(61, 61, 96);
    color: rgb(229, 229, 229);
    text-align: center;
    padding: 20px;
    height: 80px;
}

#main {
    height: calc(100vh - 80px);
    padding: 30px;
}

#footer {
    background-color: rgb(67, 63, 63);
    color: lightgray;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    display: grid;
    place-items: center;
}

#image-container {
    margin: auto;
    width: fit-content;
    height: 150px;
}

#answers_choices {
    margin: auto;
    margin-top: 40px;
    width: fit-content;
}

#answers_choices h3 {
    padding-bottom: 20px;
}